.servicios {
    margin-top: var(--espacio-md);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--espacio-md);
}

.servicios h2 {
    font-family: var(--fuente-cuerpo);
    color: var(--color-texto-secundario);
    font-size: var(--texto-lg);
}

.servicios-container {
    margin-top: var(--espacio-md);
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .servicios .servicios-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--espacio-sm);
    }
}
