main {
	display: flex;
	flex-direction: column;
	margin-top: var(--espacio-md);
	background-color: var(--color-fondo);
}

.mapa {
	height: 300px;
	width: 100%;
	overflow: hidden;
	border-radius: var(--radio-md);
}

.servicios {
	margin-top: var(--espacio-md);
	display: flex;
	flex-direction: column;
	margin-bottom: var(--espacio-md);
}

.servicios h2 {
	font-family: "Inter", sans-serif;
	color: var(--color-texto-secundario);
	font-size: var(--texto-lg);
}

.servicios-container {
	margin-top: var(--espacio-md);
	display: flex;
	flex-direction: column;
}
