.Solicitudes-activas__section {
    background-color: var(--color-fondo);
    display: flex;
    padding: var(--espacio-sm);
    flex-direction: column;
    margin: var(--espacio-md);
    margin-top: var(--espacio-lg);
    padding-bottom: calc(var(--altura-bottom-nav) + var(--espacio-lg));
}

.activas-historial__filtro {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: stretch;
    margin-top: var(--espacio-md);
    margin-bottom: var(--espacio-md);
}

.activas-historial__filtro button {
    flex: 1 1;
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 0.35rem 0.65rem;
    background-color: var(--color-superficie);
    border: 1px solid var(--color-borde);
    border-radius: 999px;
    box-shadow: var(--sombra-suave);
    transition: var(--transition);
    text-decoration: none;
    justify-content: center;
    color: var(--color-primario);
    gap: var(--espacio-sm);
    transition: var(--transition);
    cursor: pointer;
}

.activas-historial__filtro button:hover {
    background-color: var(--color-primario-oscuro);
    color: white;
}

.activas-historial__filtro .selected {
    background-color: var(--color-primario);
    color: white;
}

.solicitudes-container__activas,
.solicitudes-container__completadas {
    margin-top: var(--espacio-md);
}

@media (min-width: 728px) {
    .Solicitudes-activas__section > .solicitudes-container__activas,
    .Solicitudes-activas__section > .solicitudes-container__completadas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--espacio-sm);
    }
}
