.solicitudes {
	display: flex;
	flex-direction: column;
	margin-top: var(--espacio-sm);
}

.solicitudes h2 {
	font-family: "Inter", sans-serif;
	font-size: var(--texto-lg);
	color: var(--color-texto-secundario);
}

.solicitudes-container {
	display: flex;
	flex-direction: column;
	margin-top: var(--espacio-sm);
}
