.panel-solicitudes {
	display: flex;
	flex-direction: column;
	margin-top: var(--espacio-sm);
}

.panel-solicitudes h2 {
	font-family: var(--fuente-cuerpo);
	font-size: var(--texto-lg);
	color: var(--color-texto-secundario);
}

.solicitudes-container {
	display: flex;
	flex-direction: column;
	margin-top: var(--espacio-sm);
}
