.categorias {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-weight: 500;
}

.categorias h2 {
    text-align: left;
    color: var(--color-texto-secundario);
    font-size: var(--texto-lg);
}

.categorias .categorias-nav {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: var(--espacio-sm);
}

.categorias a {
    border: 2px solid var(--color-borde);
    border-radius: var(--radio-md);
    padding: var(--espacio-sm);
    background-color: var(--color-superficie);
    color: var(--color-texto);
    width: 100%;
    cursor: pointer;
    transition: var(--transition);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.categorias a:hover {
    background-color: var(--color-primario-oscuro);
    color: hsl(0, 0%, 100%);
}

.categorias .selected {
    background-color: var(--color-primario);
    color: hsl(0, 0%, 100%);
}

@media (min-width: 1024px) {
    .categorias .categorias-nav {
        display: flex;
        gap: var(--espacio-xs);
    }
}
